<header>
  <div class="list-wrapper">
    <a href="/" class="list-title">menu</a>
    <nav class="list">
      <ul>
        <li><a href="/self">己</a></li>
        <li><a href="/happy">喜</a></li>
        <li><a href="/life">生</a></li>
        <li><a href="/love">愛</a></li>
      </ul>
    </nav>
  </div>
</header>

<div id="navArea">
  <nav class="hamberger">
    <a href="/" class="list-title">menu</a>
    <div class="inner">
      <ul>
        <li><a href="/self">己</a></li>
        <li><a href="/happy">喜</a></li>
        <li><a href="/life">生</a></li>
        <li><a href="/love">愛</a></li>
          </ul>
    </div>
  </nav>

    <div class="toggle_btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

</div>
    

