<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="top.css">
  <link rel="stylesheet" href="menu.css">
  <link rel="stylesheet" href="responsive.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
  <title>New</title>
</head>
<body>

<main>

  <%- include('header') %>

  <div class="new-container">

      <div class="container-header">
        <a href="/dbhappy">喜</a>
        
          <div class="item-form-wrapper">
            <form action="/happycreate" method="post">
              <p>title</p>
              <input type="text" name="title">
              <p>writing</p>
              <textarea type="text" name="writing"></textarea>
              <input type="submit" value="追加する">
            </form>
          </div>
      </div>

      <div class="container-header">
        <a href="/dblife">生</a>
    
        <div class="item-form-wrapper">
          <form action="/lifecreate" method="post">
            <p>title</p>
            <input type="text" name="title">
            <p>writing</p>
            <textarea type="text" name="writing"></textarea>
            <input type="submit" value="追加する">
          </form>
        </div>
      </div>


    <div class="container-header">
      <a href="/dblove">愛</a>
    
      <div class="item-form-wrapper">
        <form action="/lovecreate" method="post">
          <p>title</p>
          <input type="text" name="title">
          <p>writing</p>
          <textarea type="text" name="writing"></textarea>
          <input type="submit" value="追加する">
        </form>
      </div>
    </div>

    <div class="container-header">
      <a href="/dbself">己</a>
    
      <div class="item-form-wrapper">
        <form action="/selfcreate" method="post">
          <p>title</p>
          <input type="text" name="title">
          <p>writing</p>
          <textarea type="text" name="writing"></textarea>
          <input type="submit" value="追加する">
        </form>
      </div>
    </div>

  </div>

</main>

</body>
</html>