<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="top.css">
  <link rel="stylesheet" href="responsive.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
  <script src="top.js" defer></script>
  <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
  <title>HAPPY WORDS</title>
</head>

<body>

  <main>
    <%- include('header') %>

    <div class="top-container">
      <div class="top-wrapper">
        <h1 class="textAnimation">人生を</h1>
        <h1 class="textAnimation">　　豊かにする</h1>
        <h1 class="textAnimation">　　　ニーチェの言葉</h1>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
      </div>
    </div>
  </main>
 
</body>

</html>