<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="top.css">
  <link rel="stylesheet" href="menu.css">
  <link rel="stylesheet" href="responsive.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
  <script src="top.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
  <title>Words</title>
</head>

<body>

  <main>
    
    <header>
      <div class="list-wrapper">
        <a href="/" class="list-title">menu</a>
        <nav class="list">
          <ul>
            <li><a href="/self">己</a></li>
            <li><a href="/happy">喜</a></li>
            <li><a href="/life">生</a></li>
            <li><a href="/love">愛</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="writing-container">
      <article class="word-title">
        <h1 class="textAnimation"><%= title %></h1>
      </article>

      <ariticle class="word-writing">
        <p class="textAnimation"><%= writing %></p>
      </ariticle>

      <div class="back">
        <a href="#" onclick="javascript:window.history.back(-1);return false;">Back</a>
      </div>
    </div>

  </main>


</body>

</html>